* {
  box-sizing: border-box;
}
button {
  color: blue;
  background-color: red;
}
body {
  background-color: #621402;
  font-family: "Roboto", sans-serif;
  color: white;
}
.header {
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url(../img/bg.png) no-repeat center top / cover;
  padding-bottom: 60px;
}
.m-menu {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.user {
  margin-left: 33px;
  color: white;
  display: flex;
  align-items: center;
}
.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 57px;
}
.menu-link {
  color: white;
  text-decoration: none;
}
.menu-item {
  margin-right: 25px;
}
.film {
  margin-top: 60px;
  color: white;
}

.film-title-small {
  opacity: 50%;
  font-size: 24px;
  line-height: 150%;
}
.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}
.film-descrpiption {
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}
.film {
  display: flex;
  align-items: center;
}
.film-trailer {
  margin: auto;
}
.time {
  display: flex;
  align-items: center;
}
.time-icon {
  margin-right: 13px;
}
.film-details {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.rating-current {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  margin-right: 13px;
}
.rating {
  margin-left: 34px;
}
.session {
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session-date-block {
  display: flex;
}

.session-date-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center; /*чтобы текст по центру внутри квалратика*/
  justify-content: center; /*чтобы текст по центру внутри квалратика*/
  margin-right: 15px;
  transition: background-color 0.2s;
}

.session-label {
  margin-bottom: 20px;
  display: block;
}
.session-month {
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-size: 30px;
  line-height: 35px;
  font-weight: 900;
}

.session-weekday {
  font-size: 19px;
  line-height: 22px;
}

.session-date-item:hover {
  background-color: #fe8e05;
  color: #621402;
}
.cinema-select {
  width: 470px;
  height: 60px;
  left: 635px;
  top: 678px;

  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 18px;
  cursor: pointer;
}
.time-select {
  width: 108px;
  height: 60px;
  left: 1135px;
  top: 678px;

  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
}
.cinema-select {
  min-width: 470px;
}
.select {
  margin-top: 15px;
}

.scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin-bottom: 40px;

}
.scheme-svg {
  max-width: 1170px;
  min-height: 600px;
}


.scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.2);
}

.scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.scheme path.booked, .scheme path.booked:hover  {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.scheme path.active, .scheme path.active:hover  {
  fill: orange;
  cursor: not-allowed;
}


.legend {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 1024px;
  width:90%;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 28px;
}
.legend-label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color:rgba(255, 255, 255, 0.5)
}

.legend svg {
  margin-right: 15px;
}

.price {
   padding-top: 30px;
   padding-bottom: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.price-label {
  display: block;
  font-size: 18px;
line-height: 21px;
}
.price-total {
  font-size: 52px;
  line-height: 61px;
}

.button-pay {
background: #FE8E05;
border-radius: 45px;
color: white;
font-size: 18px;
line-height: 21px;
padding: 24px 52px;
text-decoration:none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .select-cinema {
    width: 100%
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
    width: 90%; /*vsegda otstupy po krayam*/
  }
  .session {
    flex-wrap: wrap; 
  }
  .session-date {
flex-basis: 70%;
  }
.session-time {
  order: 2; 
}
.session-cinema {
  order: 3;
}
.menu-item {
  margin-right: 20px;
}
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
.menu {
position: absolute;
left: 0; 
top: 0; 
display: flex; 
flex-direction: column; 
padding: 30px;
z-index: 9;
border-radius: 10px;
display: none;
opacity: 0;
visibility: hidden;
transform: translateY(-100%);
transition: opacity 0.2s, transform 0.5s;
}
.nav {
  position: relative; /*чтобы вертикально у кнопки*/
}
.is-open {
/*  display: block !important;*/
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.m-menu {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
  display: block;
  padding: 0;
  background-color:transparent white;
}
.menu-item:not(:last-child){
  margin-bottom: 10px;
}
.film-descrpiption {
  margin-right: 30px;
}
.film {
  flex-direction: column;
}
.film-trailer {
  margin-right: auto;
  margin-left: 0;
  margin-top: 40px;
}
}